.popup {
  position: absolute;
  padding: 20px;
  border: 2px solid gray;
  right: 0;
  background: linear-gradient(
    90deg
    ,#fa1660 0,#ff6e00 100%);
  z-index: 2;

}

.disney{
  height: 300px;
}

.logo{
  color: whitesmoke;
  margin-top: 100px;
  padding-left: 20px;
}
.navbar-home {
  width: 100%;
  background-color: #040714;
  text-align: right;
  list-style: none;
}

#disney{
  padding: 15px;
  margin: 15px;
  background: linear-gradient(
    90deg
    ,#fa1660 0,#ff6e00 100%);
}

.movie {
  color: whitesmoke;
  width: 540px;
  height: auto;
  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color:#133337 ;
  border-radius: 20px;
  
}
.movie img{
  border-radius: 20px;
  margin-bottom: 20px;
}

.spinner {
  border: 16px solid #d194d6;
  border-top: 16px solid #202224;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

body {
  color: antiquewhite;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("disneyyy.jpg");
  min-height: 100vh;
  width: 100%;
}


.movie-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around

}

