.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.popup {
  position: absolute;
  padding: 20px;
  border: 2px solid gray;
  right: 0;
  background: rgb(112, 58, 58);
  z-index: 2;

}

/*
.overlay{
  position: absolute;
  height: 100vh;
  width: 100vh;
  background:white;
  left: 0;
  top: 0;
  
}
*/

.navbar-home {
  width: 150%;
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  border-top: 50px;
  text-align: center;
  list-style: none;


}

.nav-link {
  color: white;
  border-style: solid;
  background-color: black;
  
}
.navbar-movies{
  justify-content: left;
  list-style: none;
}
.my-navbar{
  justify-content: right;
}





.nav-link:hover {
  background-color: gray;
}

body {
  background-color: rgb(104, 59, 59);
}
.my-api{
  display: grid;
  justify-content: end;
}